body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

section{
  width:100%;
  height: 100vh;
}

section.sec1{
 background: url(https://media.daysoftheyear.com/20171223122352/hot-air-balloon-day2.jpg);
  background-size: cover;
  text-align: center;
  /*padding-top: 100px;*/
  color: black;
  font-family: 'IM Fell French Canon SC', serif;
}

section.sec1 h1{
/*  padding-bottom: 500px;*/
font-weight: bold;
  font-size: 70px;
  font-family: 'IM Fell French Canon SC', serif;
  
}

section.sec1 h4{
   /*padding-bottom: 50px;*/
   font-weight: bold;
  font-size: 30px;
   font-family: 'IM Fell French Canon SC', serif;
}

section.sec1 h2{
  font-weight: bold;
}


nav{
  /*width:100%;*/
  /*height: 50px;*/
  background: rgba(0,0,0,0.8);
  /*border-top: 1px solid rgba(255,255,255,.2);*/
  /*border-bottom: 1px solid rgba(255,255,255,.2);*/
   position: sticky;
   top: 0;
   z-index: 1000;
}

nav ul{
  display: flex;
  margin: 0;
   justify-content: center;
   list-style: none;
}

/*text position*/
nav ul li{
  padding: 10px ;2px;
  /*list-style: none*/
}

nav ul li a{
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;


}

nav.black{
  background: #000;
}


.home{
  /*background: rgb(255,255,102);*/
    background-image: linear-gradient(120deg, #E21D0D, #EA9511 60%);
font-family: 'Permanent Marker', cursive;
  width: 100%;
  text-align: center;
  padding-top: 30px;
} 

.home p{
  font-size: 16px;
  font-family: 'Righteous', cursive;
}


.info{
  background-image: linear-gradient(120deg, #E27D03, #FCFC0D 80%);
  width: 100%;
  width: 100%;
  text-align: center;
  color: black;
  font-family: 'Permanent Marker', cursive;
}

.info p{
  font-family: 'Righteous', cursive;
}

.pictures{
    background-image: linear-gradient(120deg, #FCFC0D, #08BF24 80%);
  width: 100%;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

.testimonals{
  background-image: linear-gradient(120deg, #08BF24, #1A3FE6 80%);
  width: 100%;
  text-align: center;
  padding-top: 30px;
  font-size: 5px
  font-family: 'Permanent Marker', cursive;
}

.testimonals p{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

.contact{
  background-image: linear-gradient(120deg, #1A3FE6, #7D1AE6 80%);
  width: 100%;
  text-align: center;
  padding-top: 80px;
  font-size: 15px;
  font-family: 'Permanent Marker', cursive;
}

.contact p{
  font-family: 'Righteous', cursive;
}

.end{
  background-image: linear-gradient(120deg, #7D1AE6, #F379B3 60%);
  width: 100%;
  height: 25vh;
  text-align: center;
  padding-top: 65px;
}

p{
  padding: 20px;
  font-family: Helvetica, sans-serif;
}

@media all and (max-width: 800px){
  nav ul{
    height: 230px;
    flex-direction: column;
    text-align: center;
  }

}


