body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

section{
  width:100%;
  height: 100vh;
}

section.sec1{
 background: url(https://media.daysoftheyear.com/20171223122352/hot-air-balloon-day2.jpg);
  background-size: cover;
  text-align: center;
  /*padding-top: 100px;*/
  color: bkack;
  font-family: 'Luckiest Guy', cursive;
}

section.sec1 h1{
/*  padding-bottom: 500px;*/
  font-size: 70px;
}

section.sec1 h4{
   /*padding-bottom: 50px;*/
  font-size: 30px;
}


nav{
  /*width:100%;*/
  /*height: 50px;*/
  background: rgba(0,0,0,0.8);
  /*border-top: 1px solid rgba(255,255,255,.2);*/
  /*border-bottom: 1px solid rgba(255,255,255,.2);*/
   position: sticky;
   top: 0;
   z-index: 1000;
}

nav ul{
  /*padding: 2px;*/
  display: flex;
  margin: 0;
  /*padding: 0 100px*/
   justify-content: center;
   list-style: none;
}

/*text position*/
nav ul li{
  padding: 10px ;2px;
  /*list-style: none*/
}

nav ul li a{
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-family: sans-serif;
  /*display: block;*/
  text-transform: uppercase;
  font-weight: bold;


}

nav.black{
  background: #000;
}


.home{
  background: rgb(255,255,102);

  background-image: linear-gradient(120deg, #0066b9, #3957aa, #80379b 80%);

  width: 100%;
}

.info{
  background: orange;
  width: 100%;
  text-align: center;
  color: black;
}

.pictures{
  background: green;

  width: 100%;
  text-align: center;
}

.testimonals{
  background: white;

  width: 100%;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  padding-top: 30px;
  font-size: 5px
}

.testimonals p{
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}

.contact{
  background: purple;

  width: 100%;
  text-align: center;
  padding-top: 150px;
  font-size: 15px;
}

.end{
  background: pink;

  width: 100%;
  text-align: center;
  padding-top: 65px;
}

p{
  padding: 20px;
  font-family: Helvetica, sans-serif;
}

@media all and (max-width: 1200px){
  nav ul{
    height: 230px;
    flex-direction: column;
    text-align: center;
  }

}


